C:/Users/63919/Desktop/Portfolio/Image filter=lfs diff=lfs merge=lfs -text
Image/*RS-1.jpg filter=lfs diff=lfs merge=lfs -text
Image/*Art.jpg filter=lfs diff=lfs merge=lfs -text
Image/*Poster.jpg filter=lfs diff=lfs merge=lfs -text
Image/*RS-2.jpg filter=lfs diff=lfs merge=lfs -text
Image/*RS-3.jpg filter=lfs diff=lfs merge=lfs -text
Image/*Yearbook.jpg filter=lfs diff=lfs merge=lfs -text
Image/*Jeopardy.gif filter=lfs diff=lfs merge=lfs -text
Image/*Painting.jpg filter=lfs diff=lfs merge=lfs -text
Image/*Painting2.jpg filter=lfs diff=lfs merge=lfs -text
Image/*Poster2.jpg filter=lfs diff=lfs merge=lfs -text
Image/*Poster3.jpg filter=lfs diff=lfs merge=lfs -text
Image/*profileID.jpg filter=lfs diff=lfs merge=lfs -text
Image/*Shirt.jpg filter=lfs diff=lfs merge=lfs -text
Image/*Education.jpg filter=lfs diff=lfs merge=lfs -text
Image/*QuizBeeP.gif filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
