

body{
    margin: 0px;
    font-family: Hauora;
    background-color: #fffcf3;
    
}
main{
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    place-items: center;
    height: 300px;   
    padding: min(5em, 8%);
 
    
}


h1{
    font-family: CocogooseProTrial Darkmode;
    color:#591916;
    text-align: center;
    margin-right: 25px;
    font-size: clamp(1.8rem, calc(2vw + 1rem), 5rem);
    
}

img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
}

.navbar ul{
    list-style-type: none;
    background-color: #c34a0d;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:80px;
}
.navbar a{
    color: #fff4db;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:#a8281c;
}
.navbar li{
    font-family: HarmonyOS Sans SC Medium;
}

footer{
    background: #953536;
    color: #953536;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px;
    margin: 0px;
    text-align: center;
    font-family: HarmonyOS Sans SC Medium;
}

footer ul{
    margin-right: 25px;
    padding:0;
    list-style-type: none;
    background-color: #953536;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content:space-evenly
}


footer ul li a{
    color:#fff4db;
    text-decoration: none;
}

footer a:hover{
  color: rgb(173, 126, 69);
}

@media screen and (max-width: 600px){
    footer{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

        /* .navbar{
        display:flex;
        flex-direction: column;
        align-items: center; */
    
}
