@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,840;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display:flex;
    flex-direction: column;
    min-height:100vh;
    
    margin: 0px;
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    background-color: #591634;
    height: 100%;
}

main{
    flex:1;
    display: grid;   
    justify-items: center;
    padding: 30px;
    align-items: center;
}

h1{
    font-family: "Inter Tight", sans-serif;
    margin-bottom: 1rem;
    color:#fff4db;
    text-align: center;
    margin-top: 1rem;
}


.IDcont img{

    width: 100%;
    max-width: 550px;
    height: auto;
    aspect-ratio: 3/2;
    object-fit: cover;
    transition: all 0.4s ease;
}


.IDcont img:hover{
    
    border-radius: 10px;
    transform: rotate(-3deg);
    filter: drop-shadow( 8px 8px 3px #380909);
}

.IDinfo{
    text-align: justify;
    color: #fff4db;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}


.navbar ul{
    list-style-type: none;
    background-color: #a03233;
    overflow: hidden;
    display:flex;
    justify-content: center;
    gap:80px;
}

.navbar a{
    color: #fff4db;
    text-decoration: none;
    padding: 15px;
    display: block;
    transition: all 0.4s ease;
}

.navbar a:hover{
    background-color:#691c1d;
    border-radius: 7px;
    
}

.navbar li{
    font-family: "Manrope", sans-serif;
    font-weight: 700;
}


footer{
    background: #953536;
    width: 100%;
    padding: 10px 5px;
    margin: 0px;
    text-align: center;
}

footer ul{
    margin-right: 25px;
    padding:0;
    list-style-type: none;
    overflow: hidden;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: space-evenly;

}


footer a{
    color:#fff4db;
    text-decoration: none;
    transition: all 0.4s ease;
}

footer a:hover{
    color: #461415;
}

@media screen and (max-width: 600px){
    footer{
        position: static;
    }
    
    footer ul{
        flex-direction: column;
        margin-right: 0;
        gap: 8px;
        padding: 10px 0;
    }
}


/*____________ MY WORK TAB __________*/



.title{
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Inter Tight", sans-serif;
    font-size: 30px;
    color:#e0995a;
}

.work_description{
    font-family: "Manrope", sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
    color:#e0995a;
    font-size: 20px;
}

.title2{
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Inter Tight", sans-serif;
    font-size: 30px;
    color:#e0995a;
}

.container_A{
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px 0;
}

.container_B{
    display: flex;
    gap: 20px;
}


.column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    min-width: 0;
}

.photo img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    object-fit: cover;

    /* interactive effectz */
    transition: rotate 2s;

    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.photo img:hover {
    transform: rotate(-5deg);
    filter: drop-shadow(-3px 3px 3px #9f4a3b);
}

.scroll_up {
    display:grid;
    place-items: center;
    margin-bottom: 40px;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    color: #e7a353;
}

@media  (max-width: 768px){
    .container_B{
        flex-direction:column;
    }
}



/*____________ABOUT ME TAB_______________ */


.about_title{
    font-size: 13px;
    font-family: "Inter Tight", sans-serif;
    display: inline-block;
    background-color: #e7a353;
    color:#a03d44;
    padding: 14px 45px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 20px #380d02;
    margin-bottom: 30px;
    margin-top: 20px;

}

.about_column h3{
    text-align: left;
    font-weight: 800;
}

.about_column li{
    line-height: 2;
}

.about_container{
    display: flex;
    gap: 60px;
    justify-content: center;
    flex-wrap: wrap;
}

.listB h3{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.about_column{
    flex:1;
    min-width: 280px;
    max-width: 480px;
    text-align: center;
    color:#ffebd6 ;
}

.about_column ul{
    text-align: left;
    margin: 1rem 0;
    padding-left: 1.5rem;
    justify-content: center;
}

.img_about{
    text-align: center;
    border-radius: 20px;
    margin-top: 1.5rem;
    overflow: hidden;
    box-shadow: 0 5px 18px #fcbf74;
    margin-bottom: 20px;
}

.img_about img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

